@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@keyframes sway {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-sway {
  animation: sway 1s ease-in-out infinite;
}

@keyframes blink {

  0%,40%,42%,100%{
    transform:scaleY(1);
  }

  41%{
    transform:scaleY(0.05);
  }

  70%,72%{
    transform:scaleY(1);
  }

  71%{
    transform:scaleY(0.05);
  }

}

.animate-blink {
  animation: blink 4s infinite;
  transform-origin: center;
}

@keyframes cloudMove {
  0% {
    transform: translateX(-6px);
  }

  50% {
    transform: translateX(6px);
  }

  100% {
    transform: translateX(-6px);
  }
}

.animate-cloud {
  animation: cloudMove 4s ease-in-out infinite;
}


@keyframes drop {
  0%,100%{
    transform: translateY(0);
  }

  50%{
    transform: translateY(4px);
  }
}

.animate-drop{
  animation: drop 1.8s ease-in-out infinite;
}

@keyframes wave {
  0% {
    transform: perspective(300px) rotateY(0deg);
  }

  25% {
    transform: perspective(300px) rotateY(-12deg);
  }

  50% {
    transform: perspective(300px) rotateY(0deg);
  }

  75% {
    transform: perspective(300px) rotateY(12deg);
  }

  100% {
    transform: perspective(300px) rotateY(0deg);
  }
}

.animate-flag {
  animation: wave 2s ease-in-out infinite;
  transform-origin: left center;
}